body {
    background: url('../img/profile-bg.jpg');
    background-attachment: fixed;
}

.container-custom {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #4aaaa5;
    margin-top: 1%;
    margin-bottom: 2%;
}

.img-self {
    width: 50%;
    height: auto;
    border: 3px solid #4aaaa5;
    margin: 20% 15%;
}

.left {
    margin-top: 50px;
    color: #000;
}

h1, h2, h3, p {
    color: #000;
}

hr {
    border-top: 1px solid #4aaaa5;
}

.submitBtn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#map {
    margin-bottom: 40px;
    border: 8px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.8);
}

.hiddenLine {
    opacity:0 ;
}